@charset "UTF-8";
/* ヘッダー編集 */
header.header {
    z-index: 10;
    background-color: #333;    
}
li.header-nav-item:hover {
    background-color:rgb(90, 90, 90);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;    
}
h1.header-logo:hover {
    background-color:rgb(90, 90, 90);;

    padding-left: 5px;
    padding-right: 5px;
    border-radius: 40px;
    border-color: rgb(224, 224, 224);
    border-style: dotted;
}
div.inner{
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
}

div.main-visual{
    background-image: url(portfolio/img/profile_2.png)  ;
    background-size: cover;
}

p.main-visual-text{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: bold;
}

p.main-visual-title{
    font-family: 'Tangerine', cursive;
    font-weight: normal;
}
p.main-visual-subtitle{
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}
p.skill-text{
    font-family: 'Noto Serif JP', serif;
}



/* フェードイン */
div.main-ti-sub {
opacity: 0;
animation-name: fadein;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-delay: 0.2s;
color:rgb(29, 29, 29)
} 
@keyframes fadein {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
} 
div.main-visual-profile {
opacity: 0;
animation-name: fadein;
animation-duration: 4s;
animation-fill-mode: forwards;
animation-delay: 0.5s;
} 
@keyframes fadein {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
} 

div.works-list{
    z-index: 5;
}

/* div.main-ti-sub {
    background-color: rgb(167, 167, 167);
} */

